@{
    ViewData["Title"] = "Thông tin sinh viên";
    // Layout = "_HvtLayout";
}

<h2>Thông tin cá nhân</h2>
<table class="table table-bordered">
    <tr>
        <th>Họ và tên</th>
        <td>Nguyễn Văn Hoàng</td>
    </tr>
    <tr>
        <th>Mã sinh viên</th>
        <td>231220789</td>
    </tr>
    <tr>
        <th>Lớp</th>
        <td>CNTT2-K64</td>
    </tr>
    <tr>
        <th>Đề</th>
        <td>Số 02</td>
    </tr>
</table>
